/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

body {
    font-family: 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
}

h3 {
    height: 41px;
    margin: 30px 0 15px;
    background: url("../img/main/bg_h3_line.jpg") repeat-x 0 50%;
    line-height: 41px;
    text-align: center;
    font-weight: 500;
}

.hidden {
    font: 0/0 a;
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 0;
    zoom: 1;
}

#cgvwrap {
    min-width: 980px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cgv-ad-wrap {
    position: relative;
    height: 80px;
    width: 100%;
    background-color: #130101;
    text-align: center;
}

.cgv-ad-wrap .cgv-ad-btn {
    width: 980px;
}

.cgv-ad-wrap .cgv-ad-btn img {
    width: inherit;
    text-align: center;
}

.cgv-ad-wrap .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.cgv-ad-wrap {
    position: relative;

}

input[type='text'], input[type='password'] {
    display: inline-block;
    border: 1px solid #b5b5b5;
}

header {
    background: url("../img/main/bg_header.gif") repeat-x 0 0;
}

header > .head, main > #contents {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

header > .head > h1 {
    position: absolute;
    z-index: 100;
    font-size: 100%;
    left: 0;
    width: 223px;
    top: 40px;
    height: 85px;
    padding-top: 18px;
    padding-left: 22px;
    margin-bottom: 18px;
}

div[class^='sect-'] {
    clear: both;
    zoom: 1;
}

div[class^='sect-'] h2, header .im-wrap .lnb > h2, header .im-wrap .lnb #gnb_list li a, header .im-wrap .sect-srh legend, header .im-wrap .sect-phototicket > a {
    font: 0/0 a;
}

header > .head > h1 a, #gnb_list li a {
    display: block;
}

header > h1 img {
    vertical-align: middle;
}

header .sect-service {
    height: 30px;
}

header .sect-service .util {
    float: left;
    list-style: none;
}

header .sect-service .util li {
    border-right: 1px solid #dddddd;
}

header .sect-service .util li, header .sect-service .gnb li, header .im-wrap .lnb #gnb_list li, footer .sect-cinfo li {
    display: inline-block;
    float: left;
}

header .sect-service li:first-child {
    border-left: 0;
}

header .sect-service a {
    display: block;
    padding: 0 10px;
}

header .sect-service .util li a.app {
    width: 74px;
    background-position: 10px -714px;
}

header .sect-service .util li a.like {
    width: 44px;
    background-position: -85px -714px;
}

header .sect-service .util li a.insta {
    width: 60px;
    background-position: -263px -714px;
}


header .sect-service .util li a.frugal {
    width: 85px;
    background-position: -151px -714px;
}

header .sect-service li > a {
    padding: 0 10px;
}

header .sect-service li > a, header .im-wrap .lnb #gnb_list > li > a, header .im-wrap .sect-phototicket > a {
    line-height: 30px;
    cursor: pointer;
}

header .sect-service li > a, header .im-wrap .lnb #gnb_list > li > a, header .im-wrap .sect-phototicket > a, footer .foot .sect-smuse > ul li a, footer .sect-cinfo .logo, footer .sect-cinfo .share a {
    background-image: url("../img/common_sprite_area_v4_2016.png");
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

header .sect-service li a span {
    visibility: hidden;
}

header .gnb {
    float: right;
}

header .sect-service .gnb li:first-child {
    background-image: none;
}

header .sect-service .gnb li {
    background: url('../img/main/bg_v_line.gif') no-repeat 0 50%;
    float: left;
}

header .sect-service .gnb li > a.login {
    width: 29px;
    background-position: 10px 9px;
}

header .sect-service .gnb li > a.join {
    width: 39px;
    background-position: -42px 9px;
}

header .sect-service .gnb li > a.mycgv {
    width: 39px;
    background-position: -103px 9px;
}

header .sect-service .gnb li > a.vip {
    width: 62px;
    background-position: -170px 9px;
}

header .sect-serv .gnb li > a.club {
    width: 53px;
    background-position: -254px 9px;
}

header .sect-service .gnb li > a.club {
    width: 53px;
    background-position: -254px 9px;
}

header .sect-service .gnb li > a.customer {
    width: 38px;
    background-position: -328px 9px;
}

header .sect-service .gnb li > a.showtimes {
    width: 106px;
    background-position: -388px 9px;
}

header .im-wrap {
    position: relative;
    height: 50px;
    padding-top: 69px;
}

header .im-wrap > h2 {
    position: absolute;
    width: 428px;
    height: 31px;
    top: 28px;
    left: 50%;
    margin-left: -214px;
    text-align: center;
}

header .im-wrap .lnb {
    width: 376px;
    margin: 0 auto;
    clear: both;
}

header .im-wrap .lnb > h2, footer .sect-cinfo h2 {
    font: 0/0 a;
    visibility: hidden;
}

header .im-wrap .lnb #gnb_list > li {
    height: 35px;
    position: relative;
}

header .im-wrap .lnb li {
    display: inline-block;
}

header .im-wrap .lnb #gnb_list > li > a {
    width: 60px;
    height: 17px;
}

header .im-wrap .lnb #gnb_list li.movie > a {
    background-position: 13px -28px;
}

header .im-wrap .lnb #gnb_list li.booking {
    margin-left: 25px;
}

header .im-wrap .lnb #gnb_list li.booking > a {
    background-position: -77px -28px;
}

header .im-wrap .lnb #gnb_list li.theaters {
    margin-left: 25px;
}

header .im-wrap .lnb #gnb_list li.theaters > a {
    background-position: -166px -28px;
}

header .im-wrap .lnb #gnb_list li.culture {
    margin-left: 40px;
}

header .im-wrap .lnb #gnb_list li.culture > a {
    width: 90px;
    background-position: -517px -28px;
}


header .im-wrap .lnb #gnb_list .sub-wrap {
    display: none;
    left: -56px;
    position: absolute;
    top: 31px;
    width: 164px;
    padding: 3px;
    background: url("../img/main/bg_smenu.png") repeat-y 0 0;
}

header .im-wrap .lnb #gnb_list > li:hover .sub-wrap {
    display: block;
}

header .im-wrap .lnb #gnb_list .sub-wrap i {
    display: block;
    position: absolute;
    width: 19px;
    height: 10px;
    left: 50%;
    top: -10px;
    margin-left: -9px;
    background: url("../img/main/ico_smenu_arrow.png") no-repeat 0 0;
}

header .im-wrap .lnb #gnb_list .sub-wrap .smenu {
    padding: 20px 15px;
    border: 2px solid #828282;
}


div[class^='sect-']:after, header .im-wrap .lnb #gnb_list .sub-wrap .smenu:after, main > #contents > ul.tab-menu:after, main .sect-event > ul:after {
    content: '';
    clear: both;
    display: block;
}

header .im-wrap .lnb #gnb_list .sub-wrap .smenu li > a {
    display: block;
    width: 130px;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-decoration: none;
}

header .im-wrap .lnb #gnb_list .sub-wrap .smenu li > a:hover {
    background: url('../img/main/ico_smenu_hand.png') no-repeat 100% 1px;
    color: #e71a0f;
}

header .im-wrap .lnb #gnb_list .sub-wrap .smenu li {
    margin-top: 15px;
}

header .im-wrap .lnb #gnb_list .sub-wrap .smenu li:first-child {
    margin-top: 0;
}

header .im-wrap .lnb #gnb_list .sub-wrap .smenu li.last {
    padding-top: 15px;
    border-top: 2px solid #828282;
}

header .im-wrap .sect-srh {
    position: absolute;
    top: 65px;
    left: 749px;
    width: 141px;
    height: 24px;
}

header .im-wrap .sect-srh input[type='text'] {
    width: 100px;
    height: 22px;
    padding-right: 34px;
    padding-left: 5px;
}

header .im-wrap .sect-srh > fieldset > button {
    position: absolute;
    top: 0;
    right: 0;
    width: 31px;
    height: 24px;
    background-color: #e71a0f;
    background-image: none;
    color: #fff;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    font-size: 11px;
}

header .im-wrap .sect-srh input[type='text'] {
    width: 100px;
    height: 22px;
    padding-right: 34px;
    padding-left: 5px;
}

header .im-wrap .sect-phototicket {
    margin-top: 30px;
    top: -10px;
    right: -1px;
    position: absolute;
}

header .im-wrap .sect-phototicket > a {
    display: block;
    width: 91px;
    height: 86px;
    background-position: -364px -305px;
}

header .im-wrap .ad-partner {
    position: absolute;
    top: 16px;
    left: 754px;
}

header .sect_txt_banner {
    height: 80px;
    background: #fefcef;
}

header .sect_txt_banner > .inner {
    display: block;
    width: 980px;
    height: 80px;
    margin: 0 auto;
}

main {
    background: url("../img/main/bg_c_bricks.png") repeat-x 0 0;
    width: 100%;
}

main #contents {
    clear: both;
    padding-bottom: 50px;
}

main > #contents > .sect-common {
    width: 980px;
    height: 450px;
}

main > #contents > .sect-common:before, main > #contents > .sect-common:after {
    position: absolute;
    top: 0;
    content: '';
    width: 14px;
    height: 450px;
}

main > #contents > .sect-common:before {
    background: url('../img/main/bg_bricks_before.png') no-repeat 0 0;
    left: 0;
}

main > #contents > .sect-common:after {
    background: url('../img/main/bg_bricks_after.png') no-repeat 0 0;
    right: 0;
}

main .sect-common > .slider button.btn-pause, main .sect-common > .slider button.move {
    background: url("../img/main/sprite_icon.png") no-repeat 0 -90px;
    top: 415px;
    width: 13px;
    height: 13px;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 10;
}

main .sect-common > .slider > button.btn-pause {
    left: 510px;
    display: block;
    background-position: -48px -90px;
    font: 0/0 a;
    z-index: 10;
}

main .sect-common > .slider > button.btn-pause {
    background-position: -48px -90px;
}

main .sect-common > .slider > button.btn-play {
    background-position: -48px -90px;
}


p.main_banner_text2 {
    position: absolute;
    font-size: 13px;
    text-align: center;
    line-height: 22px;
    letter-spacing: -0.03em;
    font-weight: 500;
}

p.main_banner_text2.type3 {
    color: #29343d;
    width: 247px;
    left: 203px;
    top: 250px;
}

main > #contents .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

main .sect-common > .slider > .item-wrap > button[type='button'] {
    display: block;
}

main .item-wrap {
    display: inline-block;
    float: left;
}

main .item-wrap.on > button[type='button'] {

}


main .item-wrap.on > button[type='button'] {
    background-position: -16px -90px;
}

main .item-wrap:nth-of-type(1) > button[type='button'] {
    left: 456px;
}

main .item-wrap:nth-of-type(2) > button[type='button'] {
    left: 474px;
}

main .item-wrap:nth-of-type(3) > button[type='button'] {
    left: 492px;
}

main .item-wrap a.item {
    position: absolute;
    z-index: 5;
    width: 980px;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 1s, opacity 1s ease;
}

main .item-wrap.on a.item {
    visibility: visible;
    height: 450px;
    max-height: 450px;
    opacity: 1;
}

main .item-wrap a.item > img {
    width: 100%;
    height: 100%;
}

main .slider > button[type='button'] {
    position: absolute;
    background: url("../img/main/sprite_btn.png") no-repeat;
    font: 0/0 a;
    z-index: 10;
}

.slider > button.btn-prev, .slider > button.btn-next {
    overflow: hidden;
    top: 50%;
    width: 26px;
    height: 52px;
    margin-top: -26px;
    white-space: nowrap;
}

main .slider > button.btn-prev {
    left: 19px;
    background-position: 0 -97px;
}

main .slider > button.btn-next {
    right: 19px;
    background-position: -30px -97px;
}

main .cols-movie {
    height: 388px;
    overflow: hidden;
    width: 980px;
}

main .cols-movie .col-slider {
    float: left;
    width: 733px;
    height: 388px;
}

main .cols-movie .col-slider iframe {
    width: 733px;
    height: 388px;
}

main .cols-movie .col-ad {
    float: right;
    width: 240px;
    height: 388px;
}

main ul.tab-menu {
    clear: both;
    text-align: center;
    list-style: none;
}

main ul.tab-menu li {
    display: inline-block;
    margin-left: -4px;
}

main ul.tab-menu li:first-child {
    padding-left: 18px;
    background: url('../img/main/sprite_corner.png') no-repeat 0 -20px;
}

main ul.tab-menu li:last-child {
    padding-right: 19px;
    background: url('../img/main/ribon_right.png') no-repeat right 0;
}

main ul.tab-menu li:first-child a {
    background: #e71a0f;
}

main ul.tab-menu li:first-child a:before {
    content: '';
    display: inline-block;
    padding-right: 5px;
    width: 26px;
    height: 39px;
    background: #e71a0f url("../img/main/ico_finger.png") 0 50% no-repeat;
    vertical-align: top;
}

main ul.tab-menu li a {
    background: #e71a0f url('../img/main/bg_tebmenu-line.gif') no-repeat 0 12px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 0 15px;
    position: relative;
    display: inline-block;
    line-height: 39px;
}

main .sect-event {
    min-height: 200px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid #241d1e;
}

main .sect-event ul {
    margin-top: 16px;
    clear: both;
}


main .sect-event li {
    float: left;
    margin-left: 6.6px;
}

main .sect-event li:first-child {
    float: left;
    margin-left: 0;
}

main .cols-banner {
    overflow: hidden;
}

main .cols-banner > .col-ad, main .cols-banner > .col-hd, main .cols-banner > .col-collage {
    float: left;
}

main .cols-banner .box-com {
    width: 228px;
    height: 261px;
    padding: 3px;
    border: 3px solid #241d1e;
}

main .cols-banner .box-com .box-inner {
    width: 226px;
    height: 259px;
    border: 1px solid #241d1e;
    text-align: center;
}

main .cols-banner .box-com .box-inner a {
    display: block;
    width: 226px;
    height: 259px;
}

main .cols-banner > .col-hd {
    position: relative;
    width: 486px;
    height: 273px;
    margin: 0 7px;
}

main .col-collage .box-com {
    width: 228px;
    height: 261px;
    padding: 3px;
    border: 3px solid #241d1e;
}

main .col-collage .box-com .box-inner {
    width: 226px;
    height: 259px;
    border: 1px solid #241d1e;
    text-align: center;
}

main .col-collage .box-com .box-inner a {
    display: block;
}


footer {
    background: url("../img/main/bg_footer_com.gif") repeat-x 0 100%;
}

footer .sect-ad {
    width: auto;
    text-align: center;
    height: 240px;
}

footer .sect-ad a {
    display: inline-block;
}

footer .sect-ad a img {
    display: block;
}

footer .foot {
    padding: 0 0 147px;
    width: 100%;
    height: auto;
}

footer .foot .sect-smuse {
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #949494;
    border-bottom: 1px solid #949494;
}

footer .foot .sect-smuse > ul {
    width: 980px;
    margin: 0 auto;
}

footer .foot .sect-smuse > ul li {
    margin-left: 22px;
    display: inline-block;
    float: left;
    padding: 10px 0;
}

footer .foot .sect-smuse > ul li:first-child {
    margin-left: 0;
}

footer .foot .sect-smuse > ul li a {
    height: 44px;
    display: block;
}

footer .foot .sect-smuse > ul li a.dx {
    width: 49px;
    background-position: 0 -768px;
}

footer .foot .sect-smuse > ul li a.imax {
    width: 59px;
    background-position: -74px -768px;
}

footer .foot .sect-smuse > ul li a.screenx {
    width: 88px;
    background-position: -159px -768px;
}

footer .foot .sect-smuse > ul li a.spherex {
    width: 76px;
    background-position: -273px -768px;
}

footer .foot .sect-smuse > ul li a.tempur {
    width: 55px;
    background-position: -480px -768px;
}

footer .foot .sect-smuse > ul li a.gold {
    width: 84px;
    background-position: -567px -768px;
}

footer .foot .sect-smuse > ul li a.gold {
    width: 84px;
    background-position: -567px -768px;
}

footer .foot .sect-smuse > ul li a.cine {
    width: 89px;
    background-position: -679px -768px;
}

footer .foot .sect-smuse > ul li a.cinema {
    width: 86px;
    background-position: 0 -826px;
}

footer .foot .sect-smuse > ul li a.kids {
    width: 70px;
    background-position: -113px -826px;
}

footer .foot .sect-smuse > ul li a.cinenforet {
    width: 120px;
    background-position: -207px -826px;
}

footer .foot .sect-cinfo {
    padding-top: 28px;
}

footer .sect-cinfo {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

footer .sect-cinfo .logo {
    top: 65px;
    left: 0;
    width: 90px;
    height: 43px;
    background-position: -145px -319px;
    position: absolute;
}

footer .sect-cinfo .policy {
    width: auto;
    letter-spacing: 0;
    margin: 0 -11px;
}

footer .sect-cinfo .policy li:first-child {
    background-image: none;
}

footer .sect-cinfo .policy li {
    background: url("../img/main/bg_li_vline2.gif") no-repeat 0 1px;
}

footer .sect-cinfo .policy li .empha-red {
    color: #e7612e;
}

footer .sect-cinfo .policy li a {
    padding: 0 9px;
    font-weight: 500;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    vertical-align: middle;
    letter-spacing: -1px;
}

footer .sect-cinfo .share {
    position: absolute;
    display: inline-block;
    right: 182px;
    top: 63px;
}

footer .sect-cinfo .share a {
    margin-left: 2px;
    height: 34px;
    width: 34px;
    float: left;
}

footer .sect-cinfo .share a:first-child {
    margin-left: 0;
}

footer .sect-cinfo .share a.facebook {
    background-position: -509px -429px;
}

footer .sect-cinfo .share a.twitter {
    background-position: -551px -429px;
}

footer .sect-cinfo .share a.instagram {
    background-position: -593px -429px;
}

footer .sect-cinfo .address {
    padding: 20px 0 0 108px;
    font-size: 12px;
    color: #555555;
}

footer .sect-cinfo address {
    font-style: normal;
    height: 12px;
}

footer .sect-cinfo .address p {
    margin-top: 4px;
}

footer .sect-cinfo .address .vl > span:first-child {
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
}

footer .sect-cinfo .address .vl > span {
    display: inline-block;
    padding-left: 5px;
    margin-left: 5px;
    height: 12px;
    border-left: 1px solid #c0c0c0;
}

footer .sect-cinfo .address .vl > .btn_goFtc {
    margin-left: 2px;
    vertical-align: 2px;
}

footer .sect-cinfo .address p.copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: Helvetica, verdana, sans-serif;
    font-size: 11px
}

footer .sect-cinfo .familysite {
    bottom: 22px;
    right: 0;
    position: absolute;
}

footer .sect-cinfo .familysite select {
    width: 140px;
    background: transparent;
    border: 1px solid #999;
}

footer .sect-cinfo .familysite button[type='button'] {
    width: 29px;
    height: 29px;
    background-color: #666;
    color: #fdfcf0;
    font-family: verdana, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

aside {
    position: absolute;
    left: calc(50% + 500px);
    top: 238px;
    height: 1955px;
}


aside .wrapper {
    position: sticky;
    width: 116px;
    text-align: left;
    top: 10px;
    padding: 0;
    margin: 0;
    z-index: 1;
}

aside .aside-content-top {
    padding-top: 10px;
    background: url("../img/main/bg_aside_banner_top.png") no-repeat 0 0;
}

aside .aside-content-btm {
    padding: 0 7px 10px;
    background: url("../img/main/bg_aside_banner_bottom.png") no-repeat 0 100%;
}

aside .btn-top {
    width: 116px;
    height: 72px;
    background: url("../img/main/btn_top.png") no-repeat 0 0;
}

aside .btn-top > a > span {
    visibility: hidden;
}

